.navbar {
  background-color: #FFFFFF; /* Navbar background */
  border-bottom: 1px solid #E5E7EB; /* Divider */
}

.navbar-brand {
  color: #111827;
  font-weight: 600;
}

.navbar-nav .nav-link {
  color: #6B7280;
  font-weight: 500;
  transition: color 0.2s ease;
  cursor: pointer;
}

.navbar-nav .nav-link:hover {
  color: black;
}

.navbar-nav .nav-link.active {
  color: black;
  border-bottom: 2px solid #3B82F6;
  width: fit-content;
  padding-bottom: 3px;
  font-weight: 600;
}

.dropdown-menu {
  min-width: 160px;
  padding: 0.5rem 0;
  font-size: 0.95rem;
}
